<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>

    <script src="http://code.jquery.com/jquery-1.11.3.min.js"></script>
    <script src="http://laravel.my.n-pure.net:3636/socket.io/socket.io.js"></script>

    <script type="text/javascript">
        var socket = io('http://laravel.my.n-pure.net:3636');
        $(document).ready( function() {

            socket.on('neuroskyClient', function(data) {
                console.log(' DATA ARRIVED :: ', data);
            })

        });
    </script>


</head>
<body>


</body>
</html>